<!DOCTYPE html>
<html>
<head>
    <title>Potential Match Found for Your Lost Item</title>
</head>
<body>
    <p>Dear {{ user.username }},</p>
    <p>We have found a potential match for your lost item:</p>
    <h3>Lost Item</h3>
    <p>Name: {{ lost_item.name }}</p>
    <p>Description: {{ lost_item.description }}</p>
    <img src="cid:{{ lost_item.image.name }}" alt="{{ lost_item.name }}" style="max-width: 100%; height: auto;">
    <p><a href="{{ base_url }}/item-details/{{ lost_item.uuid }}/">View Lost Item</a></p>
    <h3>Found Item</h3>
    <p>Name: {{ found_item.name }}</p>
    <p>Description: {{ found_item.description }}</p>
    <img src="cid:{{ found_item.image.name }}" alt="{{ found_item.name }}" style="max-width: 100%; height: auto;">
    <p><a href="{{ base_url }}/item-details/{{ found_item.uuid }}/">View Found Item</a></p>
    <p>Please visit the platform to view more details and confirm the match.</p>
    <p>Best regards,<br>Smart Lost and Found Platform Team</p>
</body>
</html>