{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow-sm">
            <div class="card-header">
                <h2 class="mb-0">User Profile</h2>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">Username:</dt>
                    <dd class="col-sm-8">{{ user.username }}</dd>

                    <dt class="col-sm-4">Email:</dt>
                    <dd class="col-sm-8">{{ user.email }}</dd>

                    <dt class="col-sm-4">Phone Number:</dt>
                    <dd class="col-sm-8">{{ user.userprofile.phone_number }}</dd>
                </dl>
                <div class="text-center mt-4">
                    <a href="#" class="btn btn-primary">
                        <span class="material-icons me-2">edit</span>
                        Edit Profile
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}